<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haowaner.dao.CheckGroupDao">
     <!--添加方法 关联关系需要再插入的时候获取id-->
    <insert id="add" parameterType="checkGroup">
       <selectKey resultType="int" keyProperty="id" keyColumn="id" order="AFTER">
           select LAST_INSERT_ID()
       </selectKey>
       insert into t_checkgroup (id,code,name,helpCode,sex,remark,attention) values (null,#{code},#{name},#{helpCode},#{sex},#{remark},#{attention})
    </insert>

    <!--把关联关系存入第三方表 检查组和检查项的关联关系存起来-->
    <insert id="addCheckItemAndCheckGroup" parameterType="hashmap">
        insert into t_checkgroup_checkitem (checkgroup_id,checkitem_id) values (#{checkgroup_id},#{checkitem_id})
    </insert>

    <!--分页查询-->
    <select id="findCondition" parameterType="string" resultType="checkGroup">
        select * from t_checkgroup
        <if test="value!=null and value.length>0">
         where code=#{code}
        </if>
    </select>

    <!--别名映射-->
    <!--通过id查询
    select cg.*,ct.id tid,ct.code tcode,ct.name tname,ct.sex tsex,ct.age tage,ct.price tprice,ct.type ttype,ct.attention tattention,ct.remark cremark from t_checkgroup cg,t_checkgroup_checkitem cgt,t_checkitem ct
      where cg.id={id} and cg.id=cgt.checkgroup_id and cgt.checkitem_id=ct.id
    -->
    <!--<resultMap id="checkgroupAndCheckItem" type="checkGroup">
        <id property="id" column="id"></id>
        <result property="code" column="code"></result>
        <result property="name" column="name"></result>
        <result property="helpCode" column="helpCode"></result>
        <result property="sex" column="sex"></result>
        <result property="remark" column="remark"></result>
        <result property="attention" column="attention"></result>
        &lt;!&ndash;这个id就是checkGroupId通过checkGroupId查询&ndash;&gt;
&lt;!&ndash;        <collection property="checkItems" ofType="checkItem" column="id" select="com.haowaner.dao.CheckItemDao.findByCheckId"></collection>&ndash;&gt;
    </resultMap>-->
    <!--<select id="findById" parameterType="int" resultType="checkGroup">
       select cg.*,cgt.checkitem_id tid from t_checkgroup cg,t_checkgroup_checkitem cgt
       where cg.id=#{id} and cgt.checkgroup_id=cg.id
    </select>-->
    <select id="findById" parameterType="int" resultType="checkGroup">
       select * from t_checkgroup where id=#{id}
    </select>

    <!--做一下简单别名映射-->
    <resultMap id="baseResultMap" type="checkGroup">
        <id column="id" property="id"></id>
        <result column="code" property="code"></result>
        <result column="name" property="name"></result>
        <result column="helpCode" property="helpCode"></result>
        <result column="sex" property="sex"></result>
        <result column="remark" property="remark"></result>
        <result column="attention" property="attention"></result>
    </resultMap>
    <resultMap id="checkGroupMap" type="checkGroup" extends="baseResultMap">
       <collection property="checkItems" ofType="checkItem" column="id" select="com.haowaner.dao.CheckItemDao.findByCheckItemId">
       </collection>
    </resultMap>
    <!--套餐查询时的 关联查询检查项的信息-->
    <select id="findBySetmealId" parameterType="int" resultMap="checkGroupMap">
        select * from t_checkgroup where id in (
           select checkgroup_id from t_setmeal_checkgroup where setmeal_id=#{id})
    </select>

    <!--通过检查组id 查询检查项id-->
    <select id="findByCheckId" parameterType="int" resultType="int">
        select checkitem_id from t_checkgroup_checkitem where checkgroup_id=#{id}
    </select>

    <!--会员管理需要 查询所有-->
    <select id="findAll" resultType="checkGroup">
        select * from t_checkgroup
    </select>

    <!--编辑-->
    <update id="edit" parameterType="checkGroup">
        update t_checkgroup set code=#{code},name=#{name},helpCode=#{helpCode},sex=#{sex},remark=#{remark},attention=#{attention}
        where id=#{id}
    </update>

    <!--编辑所属关系 有点错-->
    <delete id="deleteByCheckitemId" parameterType="int">
        delete from t_checkgroup_checkitem where checkitem_id=#{id}
    </delete>
    <!--<update id="editCheckItemAndCheckGroup" parameterType="map">
        update t_checkgroup_checkitem  set checkgroup_id=#{checkgroup_id},checkitem_id=#{checkitem_id}
        where checkgroup_id=#{checkgroup_id} and checkitem_id=#{checkBeforeId}
    </update>-->

    <!--先删除中间表-->
    <delete id="deleteByGid" parameterType="int">
        delete from t_checkgroup_checkitem where checkgroup_id=#{id}
    </delete>
    <delete id="deleteByGid2" parameterType="int">
        delete from t_setmeal_checkgroup where checkgroup_id=#{id}
    </delete>

    <!--删除-->
    <delete id="delete" parameterType="int">
        delete from t_checkgroup where id=#{id}
    </delete>

</mapper>